<div class="row">
<div class="col-md-12">
    <nb-card>
    <nb-card-header>
        <h5>
        Carga de Archivos
        </h5>
    </nb-card-header>
    <nb-card-body>
        <div>  
            <i class="fa fa-plus fa-2x" style="cursor: pointer; color: darkslateblue;" (click)="addFile()"></i>&nbsp; Subir Archivo
            <input style="display: none;" type="file" id="fileUpload" #selectedFile [(ngModel)]="fileUpload" (click)="selectedFile.value = null" value="" (change)="handleFileInput($event.target.files)" />      
        </div>
        <br>
        <nb-list-item *ngFor="let file of files">
            <div class="row show-grid">
                <div style="width: 300px;">{{file}}</div>
                <div style="width: 50px;cursor: pointer;" (click)="downloadFile(file)"><i class="fa fa-download"></i></div>
                <div style="width: 50px;cursor: pointer;" (click)="deleteFile(file)"><i class="fa fa-trash-alt"></i></div>
            </div>
        </nb-list-item>
    </nb-card-body>
    </nb-card>
</div>
</div>
  
  